body{
    display: flex;
    flex-direction: column;
}

#inputArea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:1px red solid;
    align-items: center;
}

input{
    width: 500px;
}

textarea{
    width: 500px;
    height: 100px;
}

button{
    width:500px;
}

#container{
    display: flex;
    justify-content: center;

}


.Post{
    border:1px red solid;
    justify-content: center;
    width: 500px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;

}